/*.App {
  text-align: center;
}*/

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.row li {
  font-size: 18px;
  list-style: none;
  border: 1px solid #ece8e8;
  min-height: 54px;
}

.row .currentUser {
  color: #bb1c1c;
}

.login-form {
    width: 500px;
    max-width: 80%;
    position: fixed;
    background-color: white;
    top: 50%;
    z-index: 1000;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2px;
    font-size: 16px;
}

.login-form-title {
  text-align: center;
  margin-top: 12px;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 9px 0;
  margin: 0;
  border: none;
  cursor: pointer;
  padding: 9px 15px;
  margin: 8px 0;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.img-container {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 8px 16px;
  border-bottom: solid 1px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
}
.next-game {
  font-size: 16px;
  display: block;
  text-transform: capitalize;
}
.played-games {
  font-size: 18px;
  min-width: 300px;
}
.next-game input {
  max-width: 9%;
  margin: 0 10px;
  padding: 4px 20px;
}

.date-played {
  font-size: 16px;
  display: inline;
  margin-right: 29px;
}

.next-game button {
  max-width: 73px;
  padding: 7px 4px;
  margin: 0 12px;
}

.quantity::-webkit-inner-spin-button,
.quantity::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

.header--disabled {
  background: rgba(0, 0, 0, 0.8) !important;
  opacity: 0.8 !important;
  pointer-events: none !important;
}

.section-about--disabled {
  background: rgba(0, 0, 0, 0.8) !important;
  opacity: 0.8 !important;
  pointer-events: none !important;
}

.ranking {
  text-transform: capitalize;
}

.ranking li {
  margin: 4px 0;
  border-radius: 2px;
  min-width: 300px;
  max-width: 600px;
  min-height: 36px;
  position: relative;
}

.ranking li button {
  background-color: #4CAF50;
  color: white;
  padding: 0;
  margin: 0;
  display: block;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 2px;
  height: 100%;
}

.ranking li div {
  display: inline-block;
  margin-left: 16px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  max-width: calc(100% - 32px);
}

.ranking li .trim-name {
  max-width: calc(100% - 112px);
}

.ranking li .challenge-user {
  margin-right: 16px;
  margin-left: 0;
  position: absolute;
  right: 0;
  height: 26px;
  width: 80px;
}

.page-numbers {
  list-style: none;
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.page-numbers > li {
  margin-right: 12px;
  color: #4CAF50;
  user-select: none;
  cursor: pointer;
  border: none;
  min-height: initial;
}

.page-numbers > li:hover {
  color: #2c632e;
}

.page-number-selected {
  color: darkgray !important;
  cursor: initial;
  pointer-events: none;
}

.page-numbers-view-all {
  margin-right: 12px;
  color: #4CAF50;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  border: none;
  min-height: initial;
  font-size: 16px;
}

.page-numbers-view-all:hover {
  color: #2c632e;
}

.game {
  border: 1px solid #ece8e8;
  border-radius: 2px;
  margin: 8px;
}

.game-group {
  border: 1px solid #ece8e8;
  border-radius: 2px;
}

.game-group-container {
  margin: 12px 0;
}

.game-group-date {
  border-left: 1px solid #ece8e8;
  border-top: 1px solid #ece8e8;
  border-right: 1px solid #ece8e8;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  display: inline-block;
  font-size: 14px;
  padding: 2px 8px;
}

.first-user-results {
  margin: 8px;
  border-bottom: 1px solid #ece8e8;
  margin-bottom: 4px;
  display: flex;
}

.second-user-results {
  margin: 8px;
  margin-top: 4px;
  display: flex;
}

.competitor-results-won {
  color: #4CAF50;
  font-weight: bold;
}

.game-competitor {
  flex: 1;
  text-transform: capitalize;
  padding-right: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.game-competitor-score {
  flex: 0;
}

.welcome-header {
  color:#fff;
  padding-top: 16px;
  font-size: 18px;
}

.header__logout {
  position: absolute;
  right: 20px;
  top: 8px;
  top: 0;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.header__logout:hover {
  color: #aaa
}

.header {
  position: relative;
}